name: node

on:
  push:
  pull_request:

jobs:
  aetherctl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install
        run: |
          pnpm -C aetherctl install --frozen-lockfile

      - name: Build
        run: |
          pnpm -C aetherctl build

      - name: Test
        run: |
          pnpm -C aetherctl test
